<mat-toolbar color="primary">
  <span>Shoe Inventory</span>

  <button mat-button [matMenuTriggerFor]="shoes" >Shoes</button>

  <mat-menu #shoes="matMenu" overlapTrigger="false">
      <button mat-menu-item routerLink="/shoes/add">Add New</button>
      <button mat-menu-item routerLink="/shoes">All Shoes</button>
      <button mat-menu-item [matMenuTriggerFor]="brandsMenu">By Brand</button>
  </mat-menu>
  <mat-menu #brandsMenu="matMenu">
    <button mat-menu-item routerLink="/shoes/brand/1">Adidas</button>
    <button mat-menu-item routerLink="/shoes/brand/2">Nike</button>
    <button mat-menu-item routerLink="/shoes/brand/3">Under Armour</button>
    <button mat-menu-item routerLink="/shoes/brand/4">Puma</button>
    <button mat-menu-item routerLink="/shoes/brand/5">Balenciaga</button>
    <button mat-menu-item routerLink="/shoes/brand/6">Gucci</button>
  </mat-menu>


  <button mat-button [matMenuTriggerFor]="transactions">Transactions</button>

  <mat-menu #transactions="matMenu" overlapTrigger="false">
      <button mat-menu-item>Sells</button>
      <button mat-menu-item>Purchases</button>
      <button mat-menu-item>All</button>
  </mat-menu>

</mat-toolbar>
