<div fxFlex="100%"  fxLayoutAlign="center center">
  <mat-card>

    <mat-card-header>
      <mat-card-title> Add a new Shoe</mat-card-title>
      <mat-card-subtitle> Provide the new shoe data</mat-card-subtitle>
    </mat-card-header>
      <form [formGroup]="newShoe" fxLayout="column">

        <mat-form-field>
          <input matInput formControlName="name"placeholder="Name">
        </mat-form-field>

        <mat-form-field>
          <input matInput formControlName="imgSrc" placeholder="Image source">
        </mat-form-field>

        <mat-form-field>
          <input matInput formControlName="brand"placeholder="Nike" value="1">
        </mat-form-field>

        <mat-form-field>
          <input matInput formControlName="price"placeholder="Price">
        </mat-form-field>

        <mat-form-field>
            <mat-select placeholder="Favorite food">
              <mat-option *ngFor="let brand of brands" [value]="brand.id">
                {{ brand.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>

      </form>
    <mat-card-actions fxLayoutAlign="end center">
      <button mat-raised-button color="primary">Submit</button>
    </mat-card-actions>
  </mat-card>
</div>
