<div class="card"  >
<mat-card>
  <mat-card-header fxLayoutAlign="center center" >
    <mat-card-title fxFlexAlign="center center">{{shoe.codename}}</mat-card-title>
    <mat-card-title  fxLayoutAlign="center center">{{shoe.brand.name}}</mat-card-title>
  </mat-card-header>
  <mat-card-content fxLayoutAlign="center center" fxLayout="column">
    <img [src]="shoe.imageSrc" >
    <p>{{shoe.price | currency}}</p>
  </mat-card-content>
  <mat-card-actions fxLayout="row" fxLayoutGap="5px" fxLayoutAlign="center center">
    <div>
      <button mat-raised-button color="primary" routerLink="/shoes/{{shoe.id}}">Edit</button>
    </div>
    <div>
      <button mat-raised-button color="primary" (click)="deleteShoe()">Delete</button>
    </div>
    <div>
      <button mat-raised-button class="buyButton" (click)="openTransaction()">Transaction</button>
    </div>
  </mat-card-actions>
</mat-card>
</div>
